@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:wght@100..900&display=swap');

body{
    background-color: white;

}
header{
    background-color: #512d6d ;
    height: 150px;
}

.container {
    display: flex;            
    justify-content: center; 
    align-items: center;      
    flex-direction: column;   
    height: 100vh;            
}

.nav-right {
    margin-left: auto; 
    display: flex;
    align-items: center;
    gap: 10px; 
}


nav ul {
    display: flex;
    list-style-type: none;
    gap: 2rem;
    margin: 10pt;
    margin-left: 5cm; 
    padding: 0;
    font-size: 15pt;    
    justify-content: flex-end; 
    width: calc(100% - 5cm - 20pt); 
}

hr{
    color: #2b547e;
    opacity: 0.5;
    margin-top: 50px;
    
}
.logo{
    
    margin-top: 2cm;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    

    
    

}


a{
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    color: #F39237;
}



i{
    padding:1rem;
}

.active {
    background-color: #512d6d; /* لون سكن ستور البنفسجي */
    color: white !important;
    border-radius: 5px;
    font-weight: bold;
}
  /* 1. Element Selector */
h1 {
    color: #2c3e50;
}

/* 2. ID Selector */
#main-title {
    font-size: 2rem;
    text-align: center;
}

/* 3. Class Selector */
.card {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
}

/* 4. Universal Selector */
* {
    box-sizing: border-box;
}

/* 5. Descendant Selector */
nav ul li a {
    padding: 5px;
}

/* 6. Pseudo-class Selector */
a:hover {
    color: #F39237;
}

/* 7. Grouping Selector */
h1, h2, h3 {
    font-family: 'Kanit', sans-serif;
}


